{% extends 'base.html' %}

{% block content %}

<h2>{{ product.title }}</h2>

<img src="/media/{{ product.image }}" alt="{{ product.title }}" width="200" height="120">
<br>
{% if product.base_price == product.price %}
    Цена <h2>{{ product.price }}</h2>
{% else %}
    Цена <h2><s>{{ product.base_price }}</s> {{ product.price }}</h2>
{% endif %}
<br>
Описание {{ product.description }}
<br>
<hr>
<ul>
    {% for pp in product.productproperty_set.all %}
        <li><b>{{ pp.property }}</b>: {{ pp.value }}</li>
    {% endfor %}
</ul>

{% endblock %}
